.header{
	background:url(../img/pw_maze_black_2X.png) left top repeat;
	
	
	/* background-image:url(../img/pw_maze_black_2X.png);
	background-repeat: repeat;
	background-size: cover;
	background-position: center center; */

	
}
.header .main-header {
	padding:150px 0;
}
